body{
	background-color:skyblue;
}
.first-para{
	background-color:black;
	color:white;
}
.last-para{
	color:red;
}
.first-list{
	background-color:white;
}
.second-list{
	background-color:stalegray;
}
.third-list{
	background-color:pink;
}
.fourth-list{
	background-color:stalegray;
}
.fifth-list{
	background-color:white;
}
